body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: white;
}

.main{
    background-color: rgb(0, 166, 255);
    border-radius: 3px;
    height: max-content;
    width: 300px;
    padding: 3%;
    border: 2px solid white;
    margin: 150px auto;

}
#search {
    margin-top: 20px;
}
#weather-info {
    margin-top: 20px;
}
#weather-image {
    /* margin-top: 20px; */
    margin: 0 auto;
    max-width: 100%;
    display: none; /* Initially hide the image */
}

#btn{
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: green;
    color: white;
}